{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="{% static 'reset.css' %}" />
		<title>{{ title }}</title>
		<script>
			tailwind.config = {
				theme: {
					extend: {
						colors: {
							background: "#17082A",
                            hint: "#7877B1",
                            text: "#ffffff",
                            secondaryBg: "#2E2B69",
						},
                        width: {
                          'fit-content': 'fit-content'
                        }
					},
				},
			};
		</script>
		{% block extraHead %}{% endblock %}
	</head>
	<body>
		{% include 'base/navbar.html' %}
		<div class="container h-auto px-4 pt-24 pb-4 md:pb-12 mx-auto h-screen max-h-[1080px]">
			{% block content %}{% endblock content %}
		</div>
		{% block extraFoot %}{% endblock extraFoot %}
		<script src="{% static 'script.js' %}"></script>
		<script
			src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
			defer
		></script>
	</body>
</html>
