{% extends 'base/base.html' %} 
{% load static %} 
{% block extraHead %}{% endblock extraHead %} 
{% block content %}
    <div class="border-b border-[#ffffff30] pb-8">
        <div>
            <img src="{% static 'profile/bg.png' %}" alt="bg" class="" draggable="false" />
            <img src="{{ profile.user.socialaccount_set.all.0.get_avatar_url }}" alt="{{ profile.user }}" class="h-20 lg:h-40 w-auto rounded-full ml-4 object-cover -mt-10 md:-mt-10 lg:-mt-20" draggable="false" />
        </div>
        <div class="mt-4 flex justify-between flex-col lg:flex-row gap-4">
            <div class="flex flex-col justify-between">
                <div>
                    <p class="text-text text-2xl md:text-3xl font-medium">{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                    <p class="text-hint text-lg md:text-xl font-medium">@{{ profile.user }}</p>
                </div>
                <p class="text-text mt-4">{{ profile.bio }}</p>
            </div>
            <div class="flex flex-col justify-between items-start lg:items-end">
                <div class="flex items-center gap-4">
                    <p class="text-text text-base md:text-lg">Follower: <span class="font-medium">{{ profile.follower }}</span></p>
                    <p class="text-text text-base md:text-lg">Following: <span class="font-medium">{{ profile.following }}</span></p>
                </div>
                {% if request.user.username == profile.user.username %}
                    <button type="button" class="border-2 border-[#007AFF] text-text px-6 py-2 mt-4 rounded-full">Edit Profile</button>
                {% else %}
                    <button type="button" class="bg-[#007AFF] border-2 border-[#007AFF] text-text px-6 py-2 mt-4 rounded-full">Follow</button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="w-full lg:w-[850px] py-10 md:py-20">
        {% for post in posts %}
            <div class="border-b mb-10 border-[#ffffff30] pb-6">
                <div class="flex items-center gap-4">
                    <img src="{{ post.user.socialaccount_set.all.0.get_avatar_url }}" alt="{{ post.user.username }}" class="h-12 w-auto rounded-full border-2 border-text" />
                    <div>
                        <a href="{% url 'profile' post.user.username %}"><p class="text-text text-base md:text-lg">{{ post.user.first_name }} {{ post.user.last_name }}</p></a>
                        <p class="text-hint text-xs md:text-sm">{{ post.timestamp }}</p>
                    </div>
                </div>
                {% if post.title %}
                    <p class="mt-4 text-text text-sm md:text-base">{{ post.title }}</p>
                {% endif %}
                {% if post.thumbnail %}
                    <div class="flex justify-center item-center bg-black mt-4 rounded-xl">
                        <img src="{{ post.thumbnail.url }}" alt="" class="max-h-96 w-full rounded-xl object-cover object-scale-down">
                    </div>
                {% endif %}
                <div class="flex justify-between w-full">
                    <div class="mt-4 flex items-center gap-6">
                        <span class="flex items-center gap-1 text-[#ffffff] text-xs md:text-sm font-medium">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#ffffff">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                            </svg>
                            {{ post.likes }}
                        </span>
                        <span class="flex items-center gap-1 text-[#ffffff] text-xs md:text-sm font-medium">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#ffffff">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                            </svg>
                            {{ post.comments }}
                        </span>
                    </div>
                    <div class="mt-4 flex items-center gap-6">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#ffffff">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
                        </svg>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
{% block extraFoot %}
{% endblock extraFoot %}