*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    background-color: #17082A;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar {   width: 5px; }
::-webkit-scrollbar-track {   background-color: #7877B1; }
::-webkit-scrollbar-thumb {   background: #17082A70; border-radius: 6px }
::-webkit-scrollbar-thumb:hover {   background: #17082A70 }