{% extends 'base/base.html' %}
{% load static %}
{% block extraHead %}{% endblock extraHead %}

{% block content %}
    <div class="flex flex-col justify-between h-full gap-8">
        <div class="flex items-center space-x-8 border-b border-hint pb-6">
            <a href="{% url 'chat_list' %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#7877B1">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
            </a>
            <div class="flex items-center space-x-4">
                <img
                  src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                  class="rounded-full h-12 w-auto"
                  alt=""
                />
                <p class="text-text text-lg md:text-xl">Jeffrey</p>
            </div>
        </div>
        <div id="chat-log" class="flex-grow flex flex-col space-y-6 max-h-[675px] overflow-auto">
            <div class="flex flex-col items-start">
                <span class="bg-[#2E2B69] inline-block w-fit-content text-text rounded-xl rounded-tl-none py-2 px-4">
                    Cheerful cowboys make Jolly Ranchers
                </span>
                <span class="text-hint text-xs md:text-sm inline-block mt-2">09:00 am</span>
            </div>
            <div class="flex flex-col items-end">
                <span class="bg-[#1868FB] inline-block w-fit-content text-text rounded-xl rounded-tr-none py-2 px-4">
                    Yes
                </span>
                <span class="text-hint text-xs md:text-sm inline-block mt-2">09:00 am</span>
            </div>
        </div>
        <div class="flex justify-between bg-[#2E2B69] rounded-md">
            <input type="text" id="chat-message-input" class="sm:flex-grow py-3 px-2 sm:px-4 inline-block focus:outline-none bg-transparent text-hint" placeholder="Type a message..." />
            <button id="chat-message-submit" class="outline-none focus:outline-none inline-block bg-transparent px-2 sm:px-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 rotate-90" viewBox="0 0 20 20" fill="#7877B1">
                    <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
                </svg>
            </button>
        </div>
    </div>

{% endblock content %}
{% block extraFoot %}
    <script>
        const message_from = "{{ request.user.username }}";
        const message_to = "{{ message_to }}";
        const room = "{{ room }}";

        console.log(message_from, message_to, room);
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + room + '/');

        chatSocket.onmessage = (e) => {
            const data = JSON.parse(e.data);
            console.log(data);
            document.querySelector('#chat-log').innerHTML += `<b>${data.message_from}</b> - ${data.message}<br>`;
        };

        chatSocket.onclose = (e) => {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if (message.length > 0) {
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'message_from': message_from,
                    'message_to': message_to
                }));
                messageInputDom.value = '';
            }
        };
    </script>
{% endblock extraFoot %}